In [1]:
#11.1 
with open("zoo.py", "w") as f: #create the zoo.py file by writing to it
    f.write("""
def hours():
    print('Open 9-5 daily')
""")

import zoo
zoo.hours()

Open 9-5 daily

In [2]:
#11.2
import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [3]:
#16.8
import csv
import sqlite3
from sqlalchemy import create_engine, MetaData, Table, select

# Step 1: Create books2.csv
csv_content = """title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mi√©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
"""

with open("books2.csv", "w", encoding="utf-8") as f:
    f.write(csv_content)

# Step 2: Create SQLite database and book table
conn = sqlite3.connect("books.db") # connection
cur = conn.cursor() #cursor
cur.execute("DROP TABLE IF EXISTS book")
cur.execute("""
    CREATE TABLE book (
        title TEXT,
        author TEXT,
        year INTEGER
    )
""")

# Step 3: Insert CSV data into the book table
with open("books2.csv", newline='', encoding='utf-8') as f:
    reader = csv.DictReader(f)
    for row in reader:
        cur.execute("INSERT INTO book (title, author, year) VALUES (?, ?, ?)",
                    (row['title'], row['author'], int(row['year'])))
conn.commit()
conn.close()

# Step 4: Use SQLAlchemy to print titles in alphabetical order
engine = create_engine("sqlite:///books.db")
connection = engine.connect()
metadata = MetaData()
book_table = Table("book", metadata, autoload_with=engine)

stmt = select(book_table.c.title).order_by(book_table.c.title)
results = connection.execute(stmt)

# Print results
for row in results:
    print(row.title)

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!